
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to the Site!</h2>
    <p>The best place to be</p>

    <a href="/" class="btn btn-lg btn-primary">Get Started</a>
    <a href="/contact" class="btn btn-lg btn-primary">Contact</a>
  </div>
</section>

<%- contentFor('top') %>
<div class="row my-extra-padding">

  <div class="col-sm-4">
    <div class="my-float-left" id="buttons">
      <button type="button" class="btn btn-default" id="assignToUser">
        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Assign
      </button>
      <button type="button" class="btn btn-default" id="returnItems">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Return
      </button>
    </div>
  </div>

  <div class="col-sm-4">

  </div>

  <div class="col-sm-4">
    <div class="dropdown my-float-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownUsersButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Users
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUsersButton" id="dropdownUsersList">
        
      </ul>
    </div>
  </div>

</div>

<%- contentFor('middle') %>
<!--
<div class="jumbotron text-center">
  <h2>Waracle Devices</h2>
</div>
-->
<table class="table table-condensed" id="tilesTable">
  <thead>
    <tr>
      <th id="boxtype">box_type</th>
      <th id="value">value</th>
      <th id="initcoords">init_coords</th>
      <th id="finalcoords">final_coords</th>
    </tr>
  </thead>
  <tbody>
    <% for (tile of level.tiles) { %>
    <tr>
      <td id="boxtype"><%= tile.box_type %></td>
      <td id="value"><%= tile.value %></td>
      <td id="initcoords">Row: <%= tile.init_coords.row %>, Column: <%= tile.init_coords.column %></td>
      <td id="finalcoords">Row: <%= tile.final_coords.row %>, Column: <%= tile.final_coords.column %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<!-- <link rel="stylesheet" href="/css/style-home.css"> -->
<script src="js/events-test.js" type="text/javascript"></script>
